*{

	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    width: 1000px;
    background-image: url("ban.jpg");
    background-size: 100rem;
  
  }

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


nav  {
    width: 600px;
    margin: 30px auto;
    padding: 4px;
    border: solid 5px #00aef0;
    position: relative;
    right: -150px;
    font: normal 15px arial, helvetica, sans-serif;
    }

h2 {
    width: 600px;
    margin: 30px auto;
    padding: 3px;
    position: relative;
    right: -150px;
    font: normal 26px georgia, sans-serif;
}
h3{
    width: 600px;
    margin: 40px auto;
    padding: 3px;
    position: relative;
    right: -150px;
    font: normal 21px georgia, sans-serif;  
}

